{% extends "layout.njk" %}
{% block title %}
  <title>Foodfy</title>
{% endblock title %}
{% block content %}
  <div id="container">
    <header>
      <a href="/"><img src="assets/logo.png" alt="Foodfy"/></a>
      <nav>
        <li>
          <a href="/sobre">Sobre</a>
        </li>
        <li>
          <a href="/receitas">Receitas</a>
        </li>
      </nav>
    </header>
    <main></main>
  </div>
{% endblock content %}